/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
}


/* nanti dihapus aja,
 header, aside,
main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
} */






/* ============ nico ============= */
nav {
    height: 80px;
    background-color: #eba41f;
}


/* logo */
nav img {
    margin-left: 40px;
}

header {
    height: 420px;
    background-color: #ddd;
}

/* ============ nico akhir ============= */







/* ============ abdul haris ============= */
aside.sesuaikan {
    height: 300px;
    background-color: #eba41f;
}

/* =========== abdul haris akhir =========== */




/* =========== anisa ============ */
main {
    height: 500px;
    background-color: #ddd;
}


/* ============== anisa akhir ============== */








/* ======== dwiyan ========== */
aside.info {
    background-color: #fff;
    padding: 48px 0;
}

/* pembungkus */
.container-info {
    width: 90%;
    margin: auto;
}

.title-info {
    line-height: 28px;
}

.title-info h3 {
    font-size: 28px;
    color: #eba41f;
    margin-bottom: 10px;
}

.title-info p {
    font-size: 16px;
    color: #d35400;
    opacity: 0.8;
}

.box {
    width: 100px;
    height: 80px;
}




/* card */


.card-info {
    width: 100%;
    margin-top: 32px;
    display: flex;
}

.cards-info {
    width: 200px;
    height: 320px;
    overflow: hidden;
    border: 1px solid #ddd;
    position: relative;
    margin-right: 32px;
    border-radius: 4px;
    box-shadow: 0 5px 9px rgb(226, 223, 223);
}

.header-card {
    height: 30px;
    background-color: #e7d5b4;
}

.header-card h4 {
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    opacity: .6;
}

.cards-info img {
    background-size: cover;
}

.card-info .read {
    background-color: #d35400;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 8px;
}

.read a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.read a:hover {
    color: #e7d5b4;
}

.read a:active {
    color: #eba41f;
}


.profile {
    margin: auto;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile li {
    list-style: none;
    display: block;
    padding-bottom: 20px;
}

.profile li a {
    text-decoration: none;
    font-size: 16px;
    color: #eba41f;
}

.profile li:hover a {
    color: grey;
}

.profile li:active a {
    color: #fff;
}

.cd {
    width: 100px;
    height: 120px;
    background-color: #d35400;
    margin: 60px auto;
    padding: 4px;
    transform: rotate(30deg);
}

.cd h3 {
    transform: rotate(-30deg);
    color: #fff;
    text-align: center;
    line-height: 120px;
}


footer {
    background-color: #eba41f;
    height: 120px;
    display: block;
}