/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 18px;
    overflow-x: hidden;
}


/* nanti dihapus aja,
 header, aside,
main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
} */




/* ============ nico ============= */
nav {
    background-color: #eba41f;
    height: 80px;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 1px rgba(212, 208, 208, .5);
}

.header-list{
    float: left;
}

.header-logo{
    float: left;
    margin-right: 48px;
}

.header-list a{
    text-decoration: none;
    color: #fdf5d8;
    font-size: 18px;
    margin-right: 2em;
    line-height: 80px;
}    

.header-list a:hover {
    color: #cc8500;
}

.header-profile{
    float: right;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.logo-profile{
    margin: 1px 0;
}

.header-profile a{
    line-height: 80px;
    text-decoration: none;
    color: #fdf5d8;
    font-size: 18px;
    float: right;
    margin-left: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    display: none;
}

.fa-bars {
    font-size: 32px;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
}



header{
    display: flex;
    margin-top: 80px;
    padding-bottom: 48px;
}

.head-left {
    width: 60%;
    padding: 32px;
}

.head-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-left h1{
    color:#f1bf62 ;
    font-size: 32px;
    line-height: 35px;
    padding-top: 32px;
}

.head-left p{
    color: #f1bf62;
    opacity: .9;
    font-size: 16px;
    margin: 32px 0 90px 0;
}

.head-left a{
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #eba41f;
    color: white;
    box-shadow: 0 5px 9px rgb(226, 223, 223);
}

.head-left a:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}

/* ============ nico akhir ============= */







/* ============ anisa ============= */
.container-aside {
    background-color: #eba41f;
    padding-top: 32px;
}

.container-aside h2 {
    color: #fff;
    padding: 32px;
}

.container-aside svg {
    display: block;
}

.produk-aside {
    margin-top: 12px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}

.produk-aside h1 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
}

.produk-aside a {
    color: #fff;
    text-decoration: none;
}

.produk-aside a:hover {
    color: #d35400;
}

.card-produk {
    width: 250px;
    height: 200px;
    border: 1px solid white;
    background-color: #fff;
    margin-right: 8px;
    position: relative;
}

.harga {
    width: 100%;
    height: 40px;
    background-color: rgba(211, 84, 0, .6);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.harga p {
    text-align: center;
    color: #fff;
}


/* =========== anisa akhir =========== */









/* =========== haris ============ */
main {
    padding-top: 48px;
    background-color: #fff;
}

/*ini bagian main*/
.main-menu	{
	padding: 3% 5%;
}

.judul	{
	color: #eba41f;
    padding: 32px;
}

.judul h3	{
	font-size: 24px;
	margin-bottom: 16px;
    font-size: 28px;
}

.judul p {
    font-size: 16px;
}


.promo	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    padding-top: -48px;
}

.promo .sub-promo	{
	flex-basis: 20%;
	height: 190px;
	text-align: center;
	margin-bottom: 4%;
    padding: 32px;
}

.promotion	{
	width: 200px;
	height: 200px;
	background-color: #eba41f;
	box-shadow: 0px 5px 4px rgba(180,180,180,.6);
	transition: 0.5s;
    position: relative;
}

.btn	{
	width: 200px;
	height: 132px;
}

.promotion figcaption a	{
	display: inline-block;
	width: 100%;
	height: 38px;
	line-height: 38px;
	color: #fff;
	text-decoration: none;
}

.promotion figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*saat elemen di hover*/

.promotion figcaption a:hover{
	display: inline-block;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
}

.promotion:hover	{
	box-shadow: 0px 20px 5px -8px rgba(180,180,180,.6);
	margin-top: -1%;
}

/*saat elemen di klik*/
.promotion figcaption a:active{
	display: inline-block;
	box-shadow: none;
	background-color: #cc8500;
}

/* ============== haris akhir ============== */








/* ======== dwiyan ========== */
aside.info {
    background-color: #fff;
    padding: 48px 0;
}

/* pembungkus */
.container-info {
    width: 100%;
    margin: auto;
    padding: 32px;
}

.title-info {
    line-height: 28px;
}

.title-info h3 {
    font-size: 28px;
    color: #eba41f;
    margin-bottom: 10px;
}

.title-info p {
    font-size: 16px;
    color: #d35400;
    opacity: 0.8;
}

.box {
    width: 100px;
    height: 80px;
}




/* card */


.card-info {
    width: 100%;
    margin-top: 32px;
    display: flex;
}

.cards-info {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border: 1px solid #ddd;
    position: relative;
    margin-right: 32px;
    border-radius: 4px;
    box-shadow: 0 5px 9px rgb(226, 223, 223);
}

.header-card {
    height: 30px;
    background-color: #e7d5b4;
}

.header-card h4 {
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    opacity: .6;
}

.cards-info img {
    width: 100%;
    background-size: cover;
}

.card-info .read {
    background-color: #d35400;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 8px;
}

.read a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: all 500ms;
}

.read a:hover {
    color: #e7d5b4;
}

.read a:active {
    color: #eba41f;
}


.profile {
    margin: auto;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile li {
    list-style: none;
    display: block;
    padding-bottom: 20px;
}

.profile li a {
    text-decoration: none;
    font-size: 16px;
    color: #eba41f;
}

.profile li:hover a {
    color: grey;
}

.profile li:active a {
    color: #fff;
}

.cd {
    width: 100px;
    height: 120px;
    background-color: #d35400;
    margin: 60px auto;
    padding: 4px;
    transform: rotate(30deg);
}

.cd h3 {
    transform: rotate(-30deg);
    color: #fff;
    text-align: center;
    line-height: 120px;
}


footer {
    background-color: #eba41f;
    height: 120px;

}



