/* 
    phone : 620px,
    tablet : 1000px;
*/


@media (max-width: 620px) {
    .container-aside h2 {
        font-size: 18px;    
        text-align: center;
    }

    .container-aside h2, .card-produk {
        margin-top: -32px;
    }

    .card-produk.tiga {
        display: none;
    }

    .produk-aside h1 {
        font-size: 12px;
        margin-left: 2px;
    }

    .card-produk {
        margin: auto;
        width: 100px;
        height: 100px;
        background-color: #fff;
        position: relative;
    }

    .pro {
        width: 100px;
        height: 100px;
    }
    
    .harga {
        width: 100%;
        height: 20px;
        background-color: rgba(211, 84, 0, .6);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .harga p {
        font-size: 12px;
    }

    /* dwiyan */
    .container-info {
        width: 100%;
        padding: 32px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-info {
        line-height: 16px;
    }
    .title-info h3 {
        font-size: 21px;
        margin-bottom: 23px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(211, 84, 0, .2);
    }
    
    .title-info p {
        font-size: 14px;
        text-align: center;
    }



    /* card */
    .card-info {
        width: 100%;
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
    }

    .cards-info {
        margin-bottom: 32px;
        margin-right: 2px;
    }

    .cards-info img {
        background-size: cover;
        width: 100%;
    }

    .cards-info .read {
        padding: 12px;
    }

    .read a {
        font-size: 12px;
    }

    .profile li {
        padding-bottom: 10px;
    }

    .profile li a {
        font-size: 14px;
    }


    .container-location {
        margin-top: -12px;
    }

    .header-location h3 {
        font-size: 21px;
        margin-bottom: 23px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(211, 84, 0, .2);
    }

    iframe {
        width: 100%;
        height: 400px;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
    }

    .penting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .penting h4 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .bantuan, .layanan, .dukungan {
        margin-top: 32px;
    }

    .sosmed {
        width: 80%;
        text-align: center;
        margin: 32px 20px;
    }
    
    .fa-instagram, .fa-facebook, .fa-twitter {
        font-size: 21px;
        margin-right: 6px;
    }
}











/* haris */
/*media screen*/
@media screen and (max-width: 1000px) { 
	.promo .sub-promo	{
		flex-basis: 33.33%;
		height: 190px;
		margin-bottom: 4%;
		text-align: center;	
	}
	.promotion	{
		margin-left: 5%;
	}
	.judul	{
		margin-bottom: 3%;
		margin-left: 2%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 600px) {
    .judul {
        margin-bottom: 40px;
    }
    .judul h3 {
        font-size: 21px;   
        text-align: center;
        border-bottom: 1px solid rgba(211, 84, 0, .2);
        margin-bottom: 23px;
        padding-bottom: 23px;
    }

    .judul p {
        font-size: 14px;
        text-align: center;
    }

    .promo {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .sub-promo {
        width: 100%; 
        margin-top: -48px;
    }

    .promotion {
        width: 100%;
        margin: 0;
    }

    .promotion .btn {
        width: 100%;
        background-size: cover;
    }

    .spromo {
        width: 100%;
    }
}






/*nico*/
@media(max-width:1000px){
    nav{
        width: 100%;
        position: fixed;
    }
    
    .header-list a{
        font-size: 18px;
    }

    .header-logo {
        width: 60px;
    }

    .header-profile a{
        font-size: 18px;
    }

    .header-profile {
        display: none;
    }

    header{
        width: 100%;
    }

    .left h1{
        font-size: 25px;
        line-height: 30px;
    }

    .right{
        padding-left: 0;
    }

    .head img{
        width: 400px;
        height: 300px;
    }

    .header-imgv2{
        display: none;
    } 
}

@media(max-width:620px){
    nav{
        width: 100%;
        height: 60px;
    }

    .header-logo{
        height: 60px;
        width: 100px;
    }

    .logo-profile{
        height: 30px;
        float: left;
        border: 2px solid white;
    }

    .header-list a{
        display: none;
    }

    .header-profile {
        display: none;
    }

    .header-profile a{
        font-size: 13px;
        line-height: 60px;
    }
     
    .navbar {
        width: 100%;
        height: 60px;
        display: block;
        position: relative;
    }

    .fa-bars {
        height: 60px;
        position: absolute;
        top: 0;
        right: 20px;
    }

    


    header{
        width: 100%;
        margin-top: 60px;
        max-height: 250px;
    }
    
    .head-left {
        width: 60%;
    }

    .head-right {
        width: 40%;
    }

    .head-right img {
        background-repeat: no-repeat;
        height: 90px;
        margin-top: 20px;
    }

    .head-left h1{
        font-size: 16px;
        line-height: 14px;
    }

    .head-left p{
        font-size: 9px;
        line-height: 9px;
        margin: 8px 0 20px 0;
    }

    .head-left a{
        padding: 6px;
        height: 40px;
        font-size: 8px;
    }

    .btn-head {
        display: block;
    }

    .txt {
        display: none;
    }
}
