/* 
    phone : 620px,
    tablet : 1000px;
*/


@media (max-width: 620px) {
    /* dwiyan */
    .container-info {
        width: 100%;
        padding: 32px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-info {
        line-height: 16px;
    }
    .title-info h3 {
        font-size: 21px;
        margin-bottom: 23px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(211, 84, 0, .2);
    }
    
    .title-info p {
        font-size: 14px;
        text-align: center;
    }



    /* card */
    .card-info {
        width: 100%;
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
    }

    .cards-info {
        margin-bottom: 32px;
        margin-right: 2px;
    }

    .cards-info img {
        background-size: cover;
        width: 100%;
    }

    .cards-info .read {
        padding: 12px;
    }

    .read a {
        font-size: 12px;
    }

    .profile li {
        padding-bottom: 10px;
    }

    .profile li a {
        font-size: 14px;
    }

    
}











/* haris */
/*media screen*/
@media screen and (max-width: 1000px) { 
	.promo .sub-promo	{
		flex-basis: 33.33%;
		height: 190px;
		margin-bottom: 4%;
		text-align: center;	
	}
	
	.judul	{
		margin-bottom: 3%;
		margin-left: 2%;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 600px) {
	.promo .sub-promo	{
		flex-basis: 50%;
		height: 190px;
		margin-bottom: 4%;	
		text-align: center;	
	}
	
	.judul	{
		margin-bottom: 3%;
		margin-left: 2%;
		margin-bottom: 5%;
	}
}
