/* 
    phone : 620px,
    tablet : 1000px;
*/


@media (max-width: 620px) {
    /* dwiyan */
    .container-info {
        width: 100%;
        padding: 32px;
        border: 2px solid black;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-info {
        line-height: 16px;
    }
    .title-info h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    
    .title-info p {
        font-size: 14px;
    }



    /* card */
    .card-info {
        width: 100%;
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
    }

    .cards-info {
        margin-bottom: 32px;
        margin-right: 2px;
        /* width: 200px;
        height: 250px; */
    }

    .cards-info img {
        background-size: cover;
        width: 200px;
        height: 250px;
    }

    .cards-info .read {
        padding: 2px;
    }

    .read a {
        font-size: 12px;
    }

    .profile li {
        padding-bottom: 10px;
    }

    .profile li a {
        font-size: 14px;
    }

    
}